html, body {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    background-color: rgba(100, 100, 100, 0);
}

.navbar {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    z-index: 1;
    overflow: hidden;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-brand-db {
    font-style: normal;
    color: red;
}

.navbar-brand:hover {
    color: rgba(0, 0, 0, 0.5) !important;
}

.nav-item {
    font-size: 20px;
}

.nav-link {
    line-height: 20px;
}

.nav-item > .nav-link.active {
    border: 1px solid black;
    border-radius: 10px;
}

.nav-link:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

#about {
    margin-top: 60%;
    width: 100%;
    height: 500px;
    background-color: rgba(100, 100, 100, 0.5);
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 70px;
}

#contact {
    width: 100%;
    height: 500px;
    background-color: rgba(100, 100, 100, 0.5);
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 70px;
}

#portfolio {
    width: 100%;
    height: 500px;
    background-color: rgba(100, 100, 100, 0.1);
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 70px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    /* position: relative; */
    line-height: 100px;
}

.rb-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    font-size: 64px;
    color: black;
    text-decoration: none;
    transition: color 1s ease-in-out;
}

.rb-brand:hover {
    text-decoration: none;
    color: grey;
    transition: color 1s ease-in-out;
}

.rb-section-title {
    width: 100%;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    text-decoration: underline;
}

.white {
    color: white;
}

.black {
    color: black;
}

.rb-footer-text {
    width: 50%;
    font-size: 18px;
    text-align: center;
    float: left;
    overflow: hidden;
    color: white;
}

.rb-footer-links {
    width: 50%;
    font-size: 28px;
    text-align: center;
    float: right;
    overflow: hidden;
    color: white;
}

.rb-footer-links a {
    color: white;
    padding: 10px;
}

.rb-footer-links a:hover {
    color: grey;
}
